.traffic-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #2c3e50;
    border-radius: 50px;
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.circle {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
}

.circle.red {
    background-color: #c0392b;
    box-shadow: 0 0 20px 5px #c0392b;
}

.circle.yellow {
    background-color: #f1c40f;
    box-shadow: 0 0 20px 5px #f1c40f;
}

.circle.green {
    background-color: #2ecc71;
    box-shadow: 0 0 20px 5px #2ecc71;
}